/*
.book-body p , .book-body h1,.book-body h2,.book-body h3,.book-body h4,.book-body h5,.book-body h6,.book-body div,.book-body span ,  .summary , .summary li , .summary li a  {
    font-family : Helvetica, Arial, "Open Sans", "Clear Sans", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei",
             "WenQuanYi Micro Hei", sans-serif;
}


.book .book-body .page-wrapper .page-inner section.normal code {
	font-family: Consolas, Menlo, Courier, 'WenQuanYi Micro Hei Mono', monospace;
}
*/

img:not(.fancybox-image) {
    max-height: 300px !important;
}

/* These blocks should look like blockquote. Let's just expand it. */
/* serious warning blocks */
blockquote .bq-serious {
    color: #333; /* overwrite back to the main text color */
    border-left: 4px solid #d00;
}

/* warning blocks */
blockquote .bq-warning {
    color: #333; /* overwrite back to the main text color */
    border-left: 4px solid #d70;
}

/* todo blocks */
blockquote .bq-todo {
    border-left: 4px solid #0d0;
}
