# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
## temporory disabled for fix build error
node_modules

# Book build output
_book
*.md~
*.json~

# eBook build output
*.epub
*.mobi
*.pdf

# Specific OS files
Desktop.ini
Thumbs.db
.DS_Store
.nomedia
